.container{
    padding:1em 2em;
}

#spelschema{
    font-size:1.4em;

}

#start_tid, #slut_tid, #boka_spelning{
    padding:5px;
}

#do_booking{
    background-color:#E4F1FE;
}

#do_booking:hover{
    background-color:#59ABE3;
    color:white;
}

#band_info{
    border:2px solid;
    margin:6px;
}

.how_contact_bands{
    float: right;
    margin-right: 150px;
    border-radius: 50%;
}
